FJYXPC_1008/fjyxpc_orarend2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XML Schema (XSD) for FJYXPC_orarend.xml
     - Uses unique named types for each logical part of the document
     - Ensures unique <ora/@id> values and enforces sensible constraints
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace=""
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- simple types -->
  <xs:simpleType name="OraIdType">
    <xs:restriction base="xs:string">
      <!-- two-digit or more numeric id (allows leading zeros) -->
      <xs:pattern value="\d{1,4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TipusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="elmelet"/>
      <xs:enumeration value="gyakorlat"/>
      <xs:enumeration value="konzultacio"/>
      <xs:enumeration value="szabalyozat"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hetfo"/>
      <xs:enumeration value="kedd"/>
      <xs:enumeration value="szerda"/>
      <xs:enumeration value="csutortok"/>
      <xs:enumeration value="pentek"/>
      <xs:enumeration value="szombat"/>
      <xs:enumeration value="vasarnap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HourType">
    <!-- hours in 0..23, lexical form allows leading zeros like "08" -->
    <xs:restriction base="xs:unsignedByte">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="23"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ShortTextType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RoomType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9\-\s]{1,20}"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- complex types -->
  <xs:complexType name="IdopontType">
    <xs:sequence>
      <xs:element name="nap" type="NapType"/>
      <xs:element name="tol" type="HourType"/>
      <xs:element name="ig" type="HourType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OraType">
    <xs:sequence>
      <xs:element name="targy" type="ShortTextType"/>
      <xs:element name="idopont" type="IdopontType"/>
      <xs:element name="helyszin" type="RoomType"/>
      <xs:element name="oktato" type="ShortTextType"/>
      <xs:element name="szak" type="ShortTextType"/>
    </xs:sequence>
    <xs:attribute name="id" type="OraIdType" use="required"/>
    <xs:attribute name="tipus" type="TipusType" use="required"/>
  </xs:complexType>

  <!-- root element -->
  <xs:element name="VBL_orarend">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ora" type="OraType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- uniqueness constraint for ora/@id -->
    <xs:unique name="uniqueOraId">
      <xs:selector xpath="ora"/>
      <xs:field xpath="@id"/>
    </xs:unique>

    <!-- optional: ensure no overlapping times for same room & day could be expressed here but XSD
         is not ideal for time-overlap constraints; such checks should be done with Schematron or code. -->
  </xs:element>

</xs:schema>