FJYXPC_1015/FJYXPC_XMLSchemaGPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="EtteremType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="foszakacs" type="FoszakacsType" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="szakacs" type="SzakacsType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="gyakornok" type="GyakornokType" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="vendeg" type="VendegType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="rendeles" type="RendelesType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>


        <!-- Primary keys -->
        <xs:key name="EtteremPrimaryKey">
            <xs:selector xpath="etterem" />
            <xs:field xpath="@ekod" />
        </xs:key>
        <xs:key name="FoszakacsPrimaryKey">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@fkod" />
        </xs:key>
        <xs:key name="SzakacsPrimaryKey">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@szkod" />
        </xs:key>
        <xs:key name="GyakornokPrimaryKey">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@gykod" />
        </xs:key>
        <xs:key name="VendegPrimaryKey">
            <xs:selector xpath="vendeg" />
            <xs:field xpath="@vkod" />
        </xs:key>

        <!-- Foreign keys -->
        <xs:keyref name="FoszakacsEtteremRef" refer="EtteremPrimaryKey">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@e_f" />
        </xs:keyref>
        <xs:keyref name="SzakacsEtteremRef" refer="EtteremPrimaryKey">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@e_sz" />
        </xs:keyref>
        <xs:keyref name="GyakornokEtteremRef" refer="EtteremPrimaryKey">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@e_gy" />
        </xs:keyref>
        <xs:keyref name="RendelesEtteremRef" refer="EtteremPrimaryKey">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_e" />
        </xs:keyref>
        <xs:keyref name="RendelesVendegRef" refer="VendegPrimaryKey">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_v" />
        </xs:keyref>
    </xs:element>

    <!-- Étterem -->
    <xs:complexType name="EtteremType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="cim" type="CimType" />
            <xs:element name="csillag" type="xs:integer" />
        </xs:sequence>
        <xs:attribute name="ekod" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:complexType name="CimType">
        <xs:sequence>
            <xs:element name="varos" type="xs:string" />
            <xs:element name="utca" type="xs:string" />
            <xs:element name="hazszam" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Főszakács -->
    <xs:complexType name="FoszakacsType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="eletkor" type="xs:integer" />
            <xs:element name="vegzettseg" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="fkod" type="xs:ID" use="required" />
        <xs:attribute name="e_f" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- Szakács -->
    <xs:complexType name="SzakacsType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="reszleg" type="xs:string" />
            <xs:element name="vegzettseg" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="szkod" type="xs:ID" use="required" />
        <xs:attribute name="e_sz" type="xs:IDREF" use="required" />
    </xs:complexType>

    <!-- Gyakornok -->
    <xs:complexType name="GyakornokType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="gyakorlat" type="GyakorlatType" />
            <xs:element name="muszak" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="gykod" type="xs:ID" use="required" />
        <xs:attribute name="e_gy" type="xs:IDREF" use="required" />
    </xs:complexType>

    <xs:complexType name="GyakorlatType">
        <xs:sequence>
            <xs:element name="kezdete" type="xs:string" />
            <xs:element name="idotartama" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Vendég -->
    <xs:complexType name="VendegType">
        <xs:sequence>
            <xs:element name="nev" type="xs:string" />
            <xs:element name="eletkor" type="xs:integer" />
            <xs:element name="cim" type="CimType" />
        </xs:sequence>
        <xs:attribute name="vkod" type="xs:ID" use="required" />
    </xs:complexType>

    <!-- Rendelés -->
    <xs:complexType name="RendelesType">
        <xs:sequence>
            <xs:element name="osszeg" type="xs:integer" />
            <xs:element name="etel" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="e_v_e" type="xs:IDREF" use="required" />
        <xs:attribute name="e_v_v" type="xs:IDREF" use="required" />
    </xs:complexType>

</xs:schema>