FJYXPC_1015/FJYXPC_XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="vendeglatas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="etterem" type="EtteremType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="foszakacs" type="FoszakacsType" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="szakacs" type="SzakacsType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="gyakornok" type="GyakornokType" minOccurs="0"
                    maxOccurs="unbounded" />
                <xs:element name="vendeg" type="VendegType" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="rendeles" type="RendelesType" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>

        <xs:key name="etterem_kulcs">
            <xs:selector xpath="etterem" />
            <xs:field xpath="@ekod" />
        </xs:key>

        <xs:key name="foszakacs_kulcs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@fkod" />
        </xs:key>

        <xs:key name="szakacs_kulcs">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@szkod" />
        </xs:key>

        <xs:key name="gyakornok_kulcs">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@gykod" />
        </xs:key>

        <xs:key name="vendeg_kulcs">
            <xs:selector xpath="vendeg" />
            <xs:field xpath="@vkod" />
        </xs:key>

        <xs:key name="rendeles_kulcs">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_v" />
        </xs:key>

        <!--Idegen kulcsok-->
        <xs:keyref name="etterem_idegen_kulcs" refer="etterem_kulcs">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_e" />
        </xs:keyref>

        <xs:keyref refer="vendeg_kulcs" name="vendeg_idegen_kulcs">
            <xs:selector xpath="rendeles" />
            <xs:field xpath="@e_v_v" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_foszakacs_idegen_kulcs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@e_f" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_szakacs_idegen_kulcs">
            <xs:selector xpath="szakacs" />
            <xs:field xpath="@e_sz" />
        </xs:keyref>

        <xs:keyref refer="etterem_kulcs" name="etterem_gyakornok_idegen_kulcs">
            <xs:selector xpath="gyakornok" />
            <xs:field xpath="@e_gy" />
        </xs:keyref>

        <xs:unique name="unique_foszakacs">
            <xs:selector xpath="foszakacs" />
            <xs:field xpath="@e_f" />
        </xs:unique>

        <!--Komplex tipusok-->

        <xs:complexType name="CimType">
            <xs:sequence>
                <xs:element name="varos" type="xs:string" />
                <xs:element name="utca" type="xs:string" />
                <xs:element name="hazszam" type="xs:string" />
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="EtteremType">
            <xs:sequence>
                <xs:element name="nev" type="xs:string" />
                <xs:element name="cim" type="cimType" />
                <xs:element name="csillag" type="xs:integer" />
            </xs:sequence>
            <xs:attribute name="ekod" type="xs:string" use="required" />
        </xs:complexType>


    </xs:element>
</xs:schema>